window, window.background {
    background-color: shade(@theme_bg_color, 0.75);
}
#body {
  background: shade(@theme_bg_color, 1.0);
  padding: 50px;
  padding-top: 80px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: shade(@theme_bg_color, 1.1);
}
