(defvar base16-colors
  '(:base00 "#{{base00-hex}}"
    :base01 "#{{base01-hex}}"
    :base02 "#{{base02-hex}}"
    :base03 "#{{base03-hex}}"
    :base04 "#{{base04-hex}}"
    :base05 "#{{base05-hex}}"
    :base06 "#{{base06-hex}}"
    :base07 "#{{base07-hex}}"
    :base08 "#{{base08-hex}}"
    :base09 "#{{base09-hex}}"
    :base0A "#{{base0A-hex}}"
    :base0B "#{{base0B-hex}}"
    :base0C "#{{base0C-hex}}"
    :base0D "#{{base0D-hex}}"
    :base0E "#{{base0E-hex}}"
    :base0F "#{{base0F-hex}}"

    ; By name
    :bg0 "#{{base00-hex}}"
    :bg1 "#{{base01-hex}}"
    :bg2 "#{{base02-hex}}"
    :bg3 "#{{base03-hex}}"
    :fg0 "#{{base04-hex}}"
    :fg1 "#{{base05-hex}}"
    :fg2 "#{{base06-hex}}"
    :fg3 "#{{base07-hex}}"
    :red "#{{base08-hex}}"
    :orange "#{{base09-hex}}"
    :yellow "#{{base0A-hex}}"
    :green "#{{base0B-hex}}"
    :cyan "#{{base0C-hex}}"
    :blue "#{{base0D-hex}}"
    :magenta "#{{base0E-hex}}"
    :brown "#{{base0F-hex}}"

    ; Extension colors derived from the above
    :dark_red "#{{base08-hex;-20%}}"
    :dark_orange "#{{base09-hex;-20%}}"
    :dark_yellow "#{{base0A-hex;-20%}}"
    :dark_green "#{{base0B-hex;-20%}}"
    :dark_cyan "#{{base0C-hex;-20%}}"
    :dark_blue "#{{base0D-hex;-20%}}"
    :dark_magenta "#{{base0E-hex;-20%}}"
    :dark_brown "#{{base0F-hex;-20%}}"))

(provide 'base16-colors)
