background = #{{base00-hex;-20%}}
foreground = #{{base05-hex}}

# cursor
cursor-color = #{{base05-hex}}
cursor-text = #{{base00-hex}}

# selection
selection-background = #{{base05-hex}}
selection-foreground = #{{base00-hex}}

# normal
palette = 0=#{{base00-hex}}
palette = 1=#{{base08-hex;-20%}}
palette = 2=#{{base0B-hex;-20%}}
palette = 3=#{{base0A-hex;-20%}}
palette = 4=#{{base0D-hex;-20%}}
palette = 5=#{{base0E-hex;-20%}}
palette = 6=#{{base0C-hex;-20%}}
palette = 7=#{{base05-hex}}

# bright
palette = 8=#{{base03-hex}}
palette = 9=#{{base08-hex}}
palette = 10=#{{base0B-hex}}
palette = 11=#{{base0A-hex}}
palette = 12=#{{base0D-hex}}
palette = 13=#{{base0E-hex}}
palette = 14=#{{base0C-hex}}
palette = 15=#{{base07-hex}}

# extended base16 colors
palette = 16=#{{base09-hex}}
palette = 17=#{{base0F-hex}}
palette = 18=#{{base01-hex}}
palette = 19=#{{base02-hex}}
palette = 20=#{{base04-hex}}
# palette = 20=#{{base04-hex;-30%}}
palette = 21=#{{base06-hex}}
