// Base16 {{scheme-name}}
// Scheme by {{scheme-author}}
themes {
    base16 {
        // By number
        bg "#{{base00-hex}}"
        fg "#{{base04-hex}}"
        black "#{{base03-hex}}"
        white "#{{base07-hex}}"
        red "#{{base08-hex;-20%}}"
        orange "#{{base09-hex;-20%}}"
        yellow "#{{base0A-hex;-20%}}"
        green "#{{base0B-hex;-20%}}"
        cyan "#{{base0C-hex;-20%}}"
        blue "#{{base0D-hex;-20%}}"
        magenta "#{{base0E-hex;-20%}}"

        // // Extension colors, derived from the above
        // dark_red "#{{base08-hex;-20%}}"
        // dark_orange "#{{base09-hex;-20%}}"
        // dark_yellow "#{{base0A-hex;-20%}}"
        // dark_green "#{{base0B-hex;-20%}}"
        // dark_cyan "#{{base0C-hex;-20%}}"
        // dark_blue "#{{base0D-hex;-20%}}"
        // dark_magenta "#{{base0E-hex;-20%}}"
        // dark_brown "#{{base0F-hex;-20%}}"
    }
}
// vim: ft=kdl
