{
    "name": "Base16",
    "variables": {
        "accent_color": "@blue_2",
        "accent_bg_color": "@blue_3",
        "accent_fg_color": "#{{base05-hex}}",
        "destructive_color": "#{{base09-hex}}",
        "destructive_bg_color": "@red_4",
        "destructive_fg_color": "#{{base05-hex}}",
        "success_color": "@green_1",
        "success_bg_color": "@green_5",
        "success_fg_color": "#{{base05-hex}}",
        "warning_color": "@yellow_4",
        "warning_bg_color": "#{{base0A-hex;+25%}}",
        "warning_fg_color": "rgba(0, 0, 0, 0.8)",
        "error_color": "#{{base09-hex}}",
        "error_bg_color": "@red_4",
        "error_fg_color": "#{{base05-hex}}",
        "window_bg_color": "#{{base01-hex;-5%}}",
        "window_fg_color": "#{{base05-hex}}",
        "view_bg_color": "#{{base00-hex}}",
        "view_fg_color": "#{{base05-hex}}",
        "headerbar_bg_color": "#{{base02-hex}}",
        "headerbar_fg_color": "#{{base05-hex}}",
        "headerbar_border_color": "#{{base05-hex}}",
        "headerbar_backdrop_color": "@window_bg_color",
        "headerbar_shade_color": "rgba(0, 0, 0, 0.36)",
        "card_bg_color": "rgba(255, 255, 255, 0.08)",
        "card_fg_color": "#{{base05-hex}}",
        "card_shade_color": "rgba(0, 0, 0, 0.36)",
        "dialog_bg_color": "@dark_3",
        "dialog_fg_color": "#{{base05-hex}}",
        "popover_bg_color": "@dark_3",
        "popover_fg_color": "#{{base05-hex}}",
        "shade_color": "rgba(0,0,0,0.36)",
        "scrollbar_outline_color": "rgba(0,0,0,0.5)",
        "green_1": "#{{base0B-hex;+20%}}",
        "green_2": "#{{base0B-hex;+10%}}",
        "green_3": "#{{base0B-hex}}",
        "green_4": "#{{base0B-hex;-10%}}",
        "green_5": "#{{base0B-hex;-20%}}",
        "yellow_1": "#{{base0A-hex;+20%}}",
        "yellow_2": "#{{base0A-hex;+10%}}",
        "yellow_3": "#{{base0A-hex}}",
        "yellow_4": "#{{base0A-hex;-10%}}",
        "yellow_5": "#{{base0A-hex;-20%}}",
        "orange_1": "#{{base09-hex;+20%}}",
        "orange_2": "#{{base09-hex;+10%}}",
        "orange_3": "#{{base09-hex}}",
        "orange_4": "#{{base09-hex;-10%}}",
        "orange_5": "#{{base09-hex;-20%}}",
        "red_1": "#{{base08-hex;+20%}}",
        "red_2": "#{{base08-hex;+10%}}",
        "red_3": "#{{base08-hex}}",
        "red_4": "#{{base08-hex;-10%}}",
        "red_5": "#{{base08-hex;-20%}}",
        "purple_1": "#{{base0E-hex;+20%}}",
        "purple_2": "#{{base0E-hex;+10%}}",
        "purple_3": "#{{base0E-hex}}",
        "purple_4": "#{{base0E-hex;-10%}}",
        "purple_5": "#{{base0E-hex;-20%}}",
        "brown_1": "#{{base0F-hex;+20%}}",
        "brown_2": "#{{base0F-hex;+10%}}",
        "brown_3": "#{{base0F-hex}}",
        "brown_4": "#{{base0F-hex;-10%}}",
        "brown_5": "#{{base0F-hex;-20%}}",
        "light_1": "#{{base04-hex;+20%}}",
        "light_2": "#{{base04-hex;+10%}}",
        "light_3": "#{{base04-hex}}",
        "light_4": "#{{base04-hex;-10%}}",
        "light_5": "#{{base04-hex;-20%}}",
        "dark_1": "#{{base03-hex;+20%}}",
        "dark_2": "#{{base03-hex;+10%}}",
        "dark_3": "#{{base03-hex}}",
        "dark_4": "#{{base03-hex;-10%}}",
        "dark_5": "#{{base03-hex;-20%}}"
    },
    "palette": {
        "blue_": {
            "1": "#{{base0D-hex;+20%}}",
            "2": "#{{base0D-hex;+10%}}",
            "3": "#{{base0D-hex}}",
            "4": "#{{base0D-hex;-10%}}",
            "5": "#{{base0D-hex;-20%}}"
        },
        "green_": {
            "1": "#{{base0B-hex;+20%}}",
            "2": "#{{base0B-hex;+10%}}",
            "3": "#{{base0B-hex}}",
            "4": "#{{base0B-hex;-10%}}",
            "5": "#{{base0B-hex;-20%}}"
        },
        "yellow_": {
            "1": "#{{base0A-hex;+20%}}",
            "2": "#{{base0A-hex;+10%}}",
            "3": "#{{base0A-hex}}",
            "4": "#{{base0A-hex;-10%}}",
            "5": "#{{base0A-hex;-20%}}"
        },
        "orange_": {
            "1": "#{{base09-hex;+20%}}",
            "2": "#{{base09-hex;+10%}}",
            "3": "#{{base09-hex}}",
            "4": "#{{base09-hex;-10%}}",
            "5": "#{{base09-hex;-20%}}"
        },
        "red_": {
            "1": "#{{base08-hex;+20%}}",
            "2": "#{{base08-hex;+10%}}",
            "3": "#{{base08-hex}}",
            "4": "#{{base08-hex;-10%}}",
            "5": "#{{base08-hex;-20%}}"
        },
        "purple_": {
            "1": "#{{base0E-hex;+20%}}",
            "2": "#{{base0E-hex;+10%}}",
            "3": "#{{base0E-hex}}",
            "4": "#{{base0E-hex;-10%}}",
            "5": "#{{base0E-hex;-20%}}"
        },
        "brown_": {
            "1": "#{{base0F-hex;+20%}}",
            "2": "#{{base0F-hex;+10%}}",
            "3": "#{{base0F-hex}}",
            "4": "#{{base0F-hex;-10%}}",
            "5": "#{{base0F-hex;-20%}}"
        },
        "light_": {
            "1": "#{{base04-hex;+20%}}",
            "2": "#{{base04-hex;+10%}}",
            "3": "#{{base04-hex}}",
            "4": "#{{base04-hex;-10%}}",
            "5": "#{{base04-hex;-20%}}"
        },
        "dark_": {
            "1": "#{{base03-hex;+20%}}",
            "2": "#{{base03-hex;+10%}}",
            "3": "#{{base03-hex}}",
            "4": "#{{base03-hex;-10%}}",
            "5": "#{{base03-hex;-20%}}"
        }
    },
    "custom_css": {
        "gtk4": "",
        "gtk3": ""
    },
    "plugins": {}
}
