ignore-empty-password
color={{base01-hex}}
font=NotoSans

key-hl-color={{base0B-hex}}

separator-color=00000000

inside-color={{base00-hex}}
inside-clear-color={{base00-hex}}
inside-ver-color={{base0D-hex}}
inside-wrong-color={{base08-hex}}

ring-color={{base02-hex}}
ring-clear-color={{base01-hex}}
ring-ver-color={{base0D-hex}}
ring-wrong-color={{base08-hex}}

line-color=00000000
line-clear-color=00000000
line-ver-color=00000000
line-wrong-color=00000000

text-clear-color={{base09-hex}}
text-caps-lock-color={{base09-hex}}
text-ver-color={{base00-hex}}
text-wrong-color={{base00-hex}}

bs-hl-color={{base08-hex}}
