-- Base16 {{scheme-name}} - kitty color config
-- Scheme by {{scheme-author}}
theme.color0  = "#{{base00-hex}}"
theme.color1  = "#{{base01-hex}}"
theme.color2  = "#{{base02-hex}}"
theme.color3  = "#{{base03-hex}}"
theme.color4  = "#{{base04-hex}}"
theme.color5  = "#{{base05-hex}}"
theme.color6  = "#{{base06-hex}}"
theme.color7  = "#{{base07-hex}}"
theme.color8  = "#{{base08-hex}}"
theme.color9  = "#{{base09-hex}}"
theme.color10 = "#{{base0A-hex}}"
theme.color11 = "#{{base0B-hex}}"
theme.color12 = "#{{base0C-hex}}"
theme.color13 = "#{{base0D-hex}}"
theme.color14 = "#{{base0E-hex}}"
theme.color15 = "#{{base0F-hex}}"
