default-timeout=5000
font=Fira Sans 10
width=250
padding=10
border-size=1
border-radius=8

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0C-hex}}

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0B-hex}}

[urgency=high]
border-size=2
background-color=#{{base00-hex}}
text-color=#{{base07-hex}}
border-color=#{{base08-hex}}
