@import "base16.css";

@define-color red alpha(shade(@base08, 0.75), 0.8);
@define-color orange alpha(shade(@base09, 0.8), 0.8);
@define-color yellow alpha(shade(@base0A, 0.7), 0.8);
@define-color green alpha(shade(@base0B, 0.8), 0.8);
@define-color magenta alpha(shade(@base0E, 0.8), 0.8);
@define-color blue alpha(shade(@base0D, 0.8), 0.8);
@define-color cyan alpha(shade(@base0C, 0.8), 0.8);

@define-color foreground shade(@base04, 1.15);
@define-color widget-background shade(@base01, 1.2);
@define-color border-color shade(@widget-background, 1.1);

* {
    /* all: unset; */
    border-style: solid;
    font-family: Noto Sans Nerd Font;
}

.modules-left   { margin: 2px; }
.modules-right  { margin: 2px; }
.modules-center { margin: 2px; }

window#waybar {
    background-color: shade(@base00, 0.7);
    border-bottom-width: 1px;
    border-color: @base01;
    color: @base08;
    opacity: 0.98;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#mode,
#custom-vpn,
#mpd {
    color: @foreground;
    background-color: @widget-background;
    padding: 0px 14px;
    border-width: 2px;
    border-color: @border-color;
    border-radius: 20px;
    margin: 0px 2px;
}

#workspaces button {
    border-width: 2px;
    border-color: @border-color;
    border-radius: 20px;
    color: shade(@foreground, 0.9);
    background-color: @widget-background;
    padding: 0 9px;
    margin: 0px 2px;
    min-width: 25px;
    min-height: 25px;
    font-weight: bold;
}


#workspaces button:hover {
    background-color: shade(@widget-background, 1.4);
    border-color: shade(@border-color, 1.4);
}

#workspaces button.focused {
    border-color: @green;
}

#workspaces button.urgent {
    border-color: shade(@base08, 0.8);
}

#mode {
    background-color: shade(@green, 1.0);
    border-color: shade(@green, 0.7);
    font-style: italic;
    color: @base00;
}


#backlight { border-color: @magenta; }

#battery { border-color: @green; }

#battery.charging {
    border-color: shade(@green, 1.1);
    background-color: shade(@green, 0.9);
    color: @widget-background;
}

@keyframes blink {
    to {
        background-color: transparent;
        border-color: transparent;
    }
}

#battery.warning:not(.charging) {
    background-color: shade(@orange, 0.9);
    border-color: shade(@orange, 1.1);
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: shade(@red, 0.9);
    border-color: shade(@red, 1.1);
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#custom-vpn { font-size: 120%; }

#custom-vpn.disconnected {
    border-color: @blue;
}

#custom-vpn.connected {
    background-color: shade(@blue, 0.9);
    border-color: shade(@blue, 1.1);
}

#pulseaudio {
    color: @widget-background;
    background-color: shade(@cyan, 0.9);
    border-color: shade(@cyan, 1.1);
}

#pulseaudio.muted {
    color: @foreground;
    background-color: @widget-background;
    border-color: @cyan;
}

#clock { font-size: 110%; font-weight: bold; border-color: @magenta; }
